@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  color: #f5f5f5;
  font-family: 'IBM Plex Mono', monospace;
}

body {
  background-color: #202124;
  margin: 0;
  padding: 0;
}
