@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  color: #f5f5f5;
}

body {
  background-color: #202124;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  list-style: none;
  padding-right: 50px;
}

.navbar > button {
  background-color: transparent;
  border: none;
}

.navbar > button:hover {
  box-shadow: 0 15px 30px 3px #0ff;
}

.navbar-clicked {
  box-shadow: 0 15px 30px 3px #0ff;
}